.home-container {
  padding: 20px;
  background-color: #121212;
}

.page-header {
  margin-bottom: 2rem;

  h1 {
    font-size: 2rem;
    font-weight: 700;
    margin: 0 0 0.5rem;
    background: linear-gradient(90deg, #9c27b0, #3f51b5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.songs-section {
  margin-bottom: 2rem;

  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    .section-title {
      font-size: 24px;
      font-weight: 700;
      color: #fff;
    }

    .navigation-buttons {
      display: flex;
      gap: 8px;

      .nav-button {
        background-color: #333;
        border: none;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover:not(:disabled) {
          background-color: #555;
        }

        &:disabled {
          background-color: #222;
          cursor: not-allowed;
          opacity: 0.5;
        }

        .material-icons {
          font-size: 24px;
          color: #fff;
        }
      }
    }
  }

  .songs-row {
    display: flex;
    gap: 16px;
    overflow-x: hidden; /* Ocultamos la barra de desplazamiento */
    scroll-behavior: smooth; /* Desplazamiento suave */
  }
}

.loading-message {
  color: #fff;
  text-align: center;
  margin: 20px 0;

  p {
    font-size: 16px;
  }
}

.selected-song {
  color: #fff;
  margin-top: 20px;

  h2 {
    font-size: 20px;
    font-weight: 600;
  }
}

@media (max-width: 768px) {
  .page-header {
    h1 {
      font-size: 1.5rem;
    }
  }

  .songs-section {
    .section-header {
      .section-title {
        font-size: 20px;
      }

      .navigation-buttons {
        .nav-button {
          width: 32px;
          height: 32px;

          .material-icons {
            font-size: 20px;
          }
        }
      }
    }
  }

  .loading-message p {
    font-size: 14px;
  }

  .selected-song h2 {
    font-size: 18px;
  }
}