.app-container {
  display: flex;
  height: 100vh;
  background: linear-gradient(to bottom, var(--gradient-start, rgb(30, 41, 59)), var(--gradient-end, #0f172a));

  .main-content {
    flex: 1;
    overflow-y: auto;
    position: relative;

    main {
      padding-top: 60px; // Espacio para la barra de búsqueda fija
    }
  }
}