<div 
  class="song-card" 
  [ngClass]="cardTypeClass" 
  (click)="onSelect()" 
  role="button" 
  [attr.aria-label]="'Reproducir ' + song.title + (song.artist && song.artist !== 'Artista desconocido' ? ' de ' + song.artist : '')"
  tabindex="0"
  (keyup.enter)="onSelect()"
  (keyup.space)="onSelect()">

  <div class="thumbnail" 
     [ngClass]="cardTypeClass"
     role="img"
     [attr.aria-label]="song.title">
    
    <img 
      class="thumbnail-image"
      [src]="song.thumbnailUrl || '/assets/images/default-thumbnail.jpg'" 
      [alt]="song.title"
      loading="lazy"
      (error)="onImageError($event)">
    
    <div class="play-overlay" aria-hidden="true">
      <span class="material-icons">play_circle_filled</span>
    </div>
  </div>

  <div class="song-info">
    <h3 class="song-title" [title]="song.title">{{ song.title }}</h3>
    <p class="song-artist" 
       *ngIf="song.artist && song.artist !== 'Artista desconocido' && song.artist !== 'Desconocido'"
       [title]="song.artist">
      {{ song.artist }}
    </p>
  </div>

  <ng-content></ng-content>
</div>