<div class="song-card" [ngClass]="cardTypeClass" (click)="onSelect()">
  <div class="thumbnail">
    <img [src]="song.thumbnailUrl" [alt]="song.title" class="song-image" />
    <div class="play-overlay">
      <span class="material-icons">play_circle</span>
    </div>
  </div>
  <div class="song-info">
    <h3 class="song-title">{{ song.title }}</h3>
    <p class="song-artist">{{ song.artist }}</p>
    <p class="song-album">{{ song.album || 'Desconocido' }}</p>
  </div>
  <button
    *ngIf="showSaveButton"
    class="save-button"
    (click)="onSave($event)"
    [disabled]="isSongSaved()"
    >
    {{ isSongSaved() ? 'Guardado' : '+'}}
  </button>
</div>