<!-- src/app/components/player/player.component.html -->
<div class="player-container" *ngIf="song">
  <div class="player-header">
    <div class="song-info">
      <h3>{{ song.title }}</h3>
      <p>{{ song.artist }}</p>
    </div>
    <button class="close-button" (click)="closePlayer()">
      <span class="material-icons">close</span>
    </button>
  </div>
  <div class="player-content">
    <iframe
      *ngIf="safeVideoUrl"
      [src]="safeVideoUrl"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
</div>