<div class="search-page">
  <h2>Mejor resultado"</h2>

  <div class="best-result" *ngIf="bestResult as result">
    <app-song-card [song]="result" (selected)="playSong($event)">
    </app-song-card>
  </div>

  <h3>Canciones</h3>
  <div class="song-list">
    <app-song-card 
      *ngFor="let song of filteredSongs" 
      [song]="song" 
      (selected)="playSong($event)"
    >
      <button class="save-button" (click)="saveSong(song); $event.stopPropagation()" [disabled]="isSongSaved(song)">
        {{ isSongSaved(song) ? 'Guardado' : '+ Guardar' }}
      </button>
    </app-song-card>
  </div>
</div>
