<div class="search-page">
  <h2>Resultados para "{{ query }}"</h2>
  <div class="best-result" *ngIf="bestResult">
    <app-song-card [song]="bestResult" (selected)="playSong($event)">
      <button class="save-button" (click)="saveSong(bestResult); $event.stopPropagation()" [disabled]="isSongSaved(bestResult)">
        {{ isSongSaved(bestResult) | async ? 'Guardado' : '+ Guardar' }}
      </button>
    </app-song-card>
  </div>
  <h3>Canciones</h3>
  <div class="song-list">
    <app-song-card 
      *ngFor="let song of filteredSongs" 
      [song]="song" 
      (selected)="playSong($event)"
    ></app-song-card>
  </div>
</div>